@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
body{background-color: #e6a0a0}
*{
  margin:0;
  padding: 0;
  
}
.app{
  min-height: 100vh;
  max-height: auto;
  background-color: #e6a0a0;
}
.heading{
  text-align: center;
  font-family: 'Alice', serif;
  font-size: 2rem;
  font-weight: bold;
  color: #f7f7f7;
  padding-top: 2rem;
}
#file[type="file"] {
	display: none;
}
.label-holder {
	width: 100%;
	height: 50px;
  margin-top: 3em;
  display: grid;
  place-items: center;
  
}
.label{
  height: 61px;
  width: 200px;
  background-color:#7f0d83;
  color: white;
  display: grid;
  place-items: center;
  font-size: 2.5rem ;
  cursor: pointer;
  border-radius: 30px;
  
  
}

.result{
  min-height: 100%;
  max-height: auto;
  width: 100%;
  background-color: #957d7d;
  margin-top:1rem ;
   display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left; 
  
}

img{
  width: 280px;
  height: 160px;
  object-fit: cover;
  padding: 0.75rem;
  
}

.lable2{
  background-color: #7f0d83;
  height: 50px;
  padding: 10px;
  border-radius: 30px;
  font-size: 1.5rem
}

